dist: trusty

language: python

addons:
    apt:
        packages:
            - build-essential
            - git
            - curl

cache:
    directories:
        - $HOME/miniconda3/

python:
  - "3.5"
  - "3.6"

before_install:
    - bash .travis/travis_before_install.sh

install:
    - bash .travis/travis_install.sh

script:
  - export PATH="$HOME/miniconda/bin:$PATH"
  - echo $PATH
  - cookiecutter . --no-input
  - pushd smsk
  - snakemake --use-conda -j

after_failure:
    - find results reports -name "*.log" -printf "%T@ %Tc %p\n" | sort -n | cut -f 8 -d " " | xargs tail -n +1
