dist: trusty

language: python

addons:
    apt:
        packages:
            - build-essential
            - git
            - curl

cache:
    directories:
        - $HOME/miniconda3/

python:
  # We don't actually use the Travis Python, but this keeps it organized.
  - "2.7"
  - "3.5"
  - "3.6"

before_install:
    - bash .travis/travis_before_install.sh

install:
    - bash .travis/travis_install.sh

script:
  - export PATH="$HOME/miniconda/bin:$PATH"
  - echo $PATH
  - cookiecutter . --no-input
  - pushd smsk
  - snakemake --use-conda -j
